/* GLOBAL VARIABLES */
:root {
    --colour-white: rgb(250, 235, 215);
    --colour-black: rgb(30, 30, 30);
    --colour-box-shadow: rgba(48, 48, 48, 0.3);
}

/* GENERAL STYLING */
* {
    margin: 0;
    box-sizing: border-box;
}

/*  HEADER */
header {
    border-bottom: 4px solid silver;
    padding: 5px 35px;
}
h1 {
    display: inline;
    font-size: xxx-large;
    color: var(--colour-black);
}
h1 span {
    font-size: xx-large;
}

/* GAME PLAY AREA */
#game {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;

    box-shadow: inset 0px 0px 150px 15px var(--colour-box-shadow);
}

/* ALL MODALS */
.modal {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    position: fixed;
    z-index: 1;
    
    width: 50%;
    height: 30%;
    
    left: 25%;
    top: 35%;
    
    background: rgb(30, 30, 30, 0.8);
    color: var(--colour-white);
}

/* SETTINGS MODAL */


/* GAME RESULT MODAL */
/* #result-modal {

} */

/* PAWN PROMOTION MODAL */
/* #promotion-modal {

} */

/* PLAYER INFO BARS */
.player-info {
    align-self: flex-start;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 60px;
    width: 600px;
    padding: 15px 25px;

    box-shadow: inset 2px 2px 25px 5px var(--colour-box-shadow);
    text-shadow: 0.75px 0.75px 1px rgba(255, 255, 255, .25);
    border-bottom-right-radius: 10px;
}
.player-name {
    text-transform: capitalize;
    font-weight: bold;
    font-size: larger;
}
.player-captured {
    justify-self: flex-end;
}
#w {
    background: var(--colour-white);
    color: var(--colour-black);
}
#b {
    background: var(--colour-black);
    color: var(--colour-white);
}


/* BOARD CONTAINER */
#board {
    display: flex;
    flex-direction: row nowrap;

    margin: 20px;

    background: rgb(30, 30, 30);
        
    box-shadow: inset 5px 5px 35px 75px rgba(48, 48, 48, 0.9);
    box-shadow: 2px 2px 30px 15px rgba(48, 48, 48, 0.3);
    border-radius: 4px;
    
    text-shadow: 0.75px 0.75px 1px rgba(255, 255, 255, .25);
    font-size: 20px;
}

/* BOARD RANK ANNOTATIONS */
.ranks {
    display: flex;
    flex-direction: column;
    align-content: center;
    color: rgba(250, 235, 215, 0.75);
    width: 60px;
}
.ranks div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}
/* .rank-right div{
    transform: rotate(180deg);
} */

/* BOARD FILE ANNOTATIONS */
.files {
    display: flex;
    flex-direction: row;
    height: 60px;
    color: rgba(250, 235, 215, 0.75);
}
.files div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
}
/* .files-top div {
    transform: rotate(180deg);
} */

/* BOARD SQUARES */
#board-squares {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    max-width: 484px;
    max-height: 484px;

    border: solid 2px rgba(250, 235, 215, 0.75);
    border-radius: 2px;
}
.square {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;

    min-height: 60px;
    min-width: 60px;

    box-shadow: inset 5px 5px 25px 10px rgba(48, 48, 48, 0.3);
}
.black {
    background: rgb(30, 30, 30);
}
.white {
    background: antiquewhite;
}

/* JAVASCRIPT ASSIGNED CLASSES */
.highlight {
    box-shadow: inset 0px 0px 75px 75px rgba(80,170,30,0.9);
}
.active {
    border-top-left-radius: 10px;
    border-bottom-right-radius: 0px;
    align-self: flex-end;
    box-shadow: inset 0px 0px 15px 3px rgba(80, 170, 30, 0.9);
} 
.check {
    box-shadow: inset 0px 0px 75px 75px rgba(170, 30, 40, 0.9);
}
.rotate {
    transform: rotate(180deg);
}

